/*   Var's   */

:root {
    scroll-behavior: smooth;
    --main-text-color: white;
    --backgrount-color-dark: #161b1d;
}


/*   Default styles   */

a {
    color: inherit;
    text-decoration: none;

}


/*   HEADER   */

.top-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    background-color: var(--backgrount-color-dark);
    padding: 0 30px;
    box-sizing: border-box;
    color: var(--main-text-color);
}

.top-header .logo {
    position: relative;
    width: 176px;
    height: 32px;
    padding: 16px 0;
}

.top-header .logo a {
    width: 100%;
    height: 100%;
}

.top-header .logo img {
    width: 100%;
    height: 100%;
}

.top-header .top-nav {
    color: inherit;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.top-header .top-nav .nav-item {
    margin: 0 23px;
    
}

.top-header .search {
    position: relative;
    
}

.top-header .search input {
    width: 100px;
    
}

.top-header .top-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.top-header .top-menu .live {
    display: inline-block;
    margin-left: .5rem;
    position: relative;
}

.top-header .top-menu .live::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 100%;
    background-color: var(--main-text-color);
    position: absolute;
    left: 0;
    top: 0;
}